# Teil d - Merkmalstandardisierung

# Verbesserung durch Merkmalstandardisierung

## Methode der Standardisierung und Auswirkung auf die Algorithmen

Viele Lernalgorithmen machen es erforderlich die Merkmale zu standardisieren um eine optimale Leistung zu erzielen. Die Algorithmen Perzeptron und Adaline gehören zu den vielen Algorithmen, die von einer Standardisierung profitieren.

Im folgenden wird die Methode <i>Standardisierung</i> erläutert. Diese verleiht den Daten die Eigenschaften einer Standardnormalverteilung. Der Mittelwert jedes Merkmals beträgt 0, die Standardabweichung jeder Spalte beträgt 1. Um zum Beispiel das Merkmal j zu standardiesieren, wird der Mittelwert $\mu$ der jeweiligen Stichprobe abgezogen und das Ergebnis durch die Standardabweichung $\sigma$ dividiert. Das Standardisierungsverfahren wird auf alle Merkmale der Datenmenge angewendet.

$x_j^{\prime(i)} = \frac{x_j^{(i)} - \mu_j}{\sigma_j}$. 

Die Standardisierung verbessert die Algorithmen, weil zum Auffinden einer guten/ optimalen Lösung (das globale Minimum der Straffunktion) weniger Schritte erforderlich sind. Folgende Abbildung stellen die Strafflächen einer zweidimensionalen Klassifizierungsaufgabe als Funktion der Gewichtungen dar.

<img src="./Figures/Merkmalstandardisierung.png" alt="drawing" style="width:500px;"/>

## Implementierung

Selektieren Sie exakt dieselben Daten des Iris-Datensatzes aus Teil a und nehmen Sie die Standardisierung vor. <br>

Trainineren Sie den entweder den Perzeptron-Algorithmus oder den Adaline-Algorithmus aus Teil a mit den standardisierten Daten mit verschiedenen Parametern. <br>

Vergleichen Sie die Ergebnisse zwischen den standardisierten Daten und den nicht-standardisierten Daten. Stellen Sie die verschiedenen Resultate dar.<br>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
df = pd.read_csv("./Data/iris.data", header=None, sep=",")
df.rename(columns={0:'sepal_length', 1:'sepal_width', 2:'petal_length', 3:'petal_width', 4:'class_label'}, inplace=True)
df.head()

   sepal_length  sepal_width  petal_length  petal_width  class_label
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

## Auswahl der Daten

In [2]:
# TODO Implement
X = None
y = None

## Implementierung der Standardisierung

In [37]:
def std(m):
   return (m-m.mean())/m.std()
X_std = std(df.drop(columns=['class_label']))
X_std['class_label'] = df['class_label']
X_std

     sepal_length  sepal_width  petal_length  petal_width     class_label
0       -0.897674     1.028611     -1.336794    -1.308593     Iris-setosa
1       -1.139200    -0.124540     -1.336794    -1.308593     Iris-setosa
2       -1.380727     0.336720     -1.393470    -1.308593     Iris-setosa
3       -1.501490     0.106090     -1.280118    -1.308593     Iris-setosa
4       -1.018437     1.259242     -1.336794    -1.308593     Iris-setosa
..            ...          ...           ...          ...             ...
145      1.034539    -0.124540      0.816888     1.443121  Iris-virginica
146      0.551486    -1.277692      0.703536     0.918985  Iris-virginica
147      0.793012    -0.124540      0.816888     1.050019  Iris-virginica
148      0.430722     0.797981      0.930239     1.443121  Iris-virginica
149      0.068433    -0.124540      0.760212     0.787951  Iris-virginica

[150 rows x 5 columns]

## Training und Visualisierung des Errors

In [3]:
# TODO: implement